
{% extends 'base.html' %}
{% load static %}


{% block title %}
404
{% endblock title %}



{% block content %}

<div class="heading-type-1">
  <br>
  Oops Something Went Wrong
</div>

<hr class="hr-stylish-subdivider">

<div class="lcont text-gray-100 text-center">
  <div id="#loginContaienr" class="container necont">
    <br>
    <h1 style="font-size: x-large;">You are drunk!</h1>
    <p class="fancy-text">Go<a class="btn button-fancy" href="/forums">Home</a></p>
    <br>


    </div>
</div>
<br>
<hr class="hr-stylish">

</div>


{% endblock content %}

{% block extra_css %}



{% endblock extra_css %}

{% block scripts %}

{% endblock scripts %}