{% extends 'base.html' %}
{% load static %}


{% block title %}
Forums
{% endblock title %}

{% block content %}


<div class="text-left">
    <h2 class="heading-type-1">BLOG HEADING</h2>
    <hr class="hr-stylish">
</div>

<section class="blog-content">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime qui ipsam quo dolorem quia velit autem
        blanditiis! Quos quasi architecto cupiditate quam minus id, ullam obcaecati, explicabo at ipsa in?Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Dolore totam cum blanditiis autem velit nam, excepturi
        veniam hic amet! Amet velit quod, libero ipsa aspernatur doloremque nam, sit ex veniam minima rerum maiores
        blanditiis delectus repellendus voluptates quasi deleniti? Alias quas nisi officiis molestiae nam eaque
        porro harum, inventore ipsa debitis unde qui distinctio, quos vel dolore iure odio culpa fugit amet commodi
        fugiat libero a consequatur. Sequi, optio neque, impedit fugit dolore facilis veniam totam eum iusto iste
        commodi. Nihil velit sapiente repellendus dignissimos? Aliquid aperiam esse provident dolores eius, quis
        vel, sapiente labore, suscipit error officia eos quisquam. Voluptatum quam, ratione beatae laborum
        distinctio aperiam repudiandae ut dignissimos perferendis.</p>
</section>

<hr class="hr-stylish">
<section class="text-gray-600 body-font blog-parent flex justify-center flex-col text-center">

    <div id="articleHeading" style="margin-top: 20px;">
      <h2 class="heading-type-1">LATEST ARTICLE</h2>
      <hr class="hr-stylish">
      <br>
      <br>
    </div>
    <!-- article1 -->
    <div class="flex flex-wrap overflow-hidden justify-center my-5">

      <div class="w-full overflow-hidden lg:w-1/3">
        <div class="img-holder" style="background-image: url('https://www.teahub.io/photos/full/70-709031_prince-of-persia-warrior-within-artwork.jpg');" >
        </div>
      </div>
      
      <div class="w-full overflow-hidden lg:w-1/2 text-left px-2 mx-10 text-white">
        <div class="card-heading">
          Blog Heading! Game Announced!
        </div>
        <div class="card-body text-gray-500">
          Dark Souls[b] is a 2011 action role-playing game developed by FromSoftware and published by Namco Bandai Games. A spiritual successor to FromSoftware's Demon's Souls, the game is the second instalment in the Souls series.
          Dark Souls[b] is a 2011 action role-playing game developed by FromSoftware and published by Namco Bandai Games. A spiritual successor to FromSoftware's Demon's Souls, the game is the second instalment in the Souls series.
        </div>
        <div class="card-footer">
          <a href="buy" class="button-fancy">
            ... Read More!
          </a>
        </div>
      </div>
      
    
    </div>

    <hr class="hr-stylish-subdivider my-10">

    <div class="flex flex-wrap overflow-hidden justify-center my-5">

      <div class="w-full overflow-hidden lg:w-1/3">
        <div class="img-holder" style="background-image: url('https://static.wikia.nocookie.net/princeofpersia/images/a/a7/SilhouetteWW.jpg/revision/latest/top-crop/width/360/height/450?cb=20080829183643&path-prefix=en');" >
        </div>
        
      </div>
      
      <div class="w-full overflow-hidden lg:w-1/2 text-left px-2 mx-10 text-white">
        <div class="card-heading">
          Blog Heading! Game Announced!
        </div>
        <div class="card-body text-gray-500 ">
          Dark Souls[b] is a 2011 action role-playing game developed by FromSoftware and published by Namco Bandai Games. A spiritual successor to FromSoftware's Demon's Souls, the game is the second instalment in the Souls series.
          Dark Souls[b] is a 2011 action role-playing game developed by FromSoftware and published by Namco Bandai Games. A spiritual successor to FromSoftware's Demon's Souls, the game is the second instalment in the Souls series.
        </div>
        <div class="card-footer">
          <a href="buy" class="button-fancy">
            ... Read More!
          </a>
        </div>
      </div>
      
    
    </div>

    <hr class="hr-stylish my-10">
    

    
  </section>

{% endblock content %}

{% block scripts %}

{% endblock scripts %}