
<footer class="flex justify-center px-4 text-gray-300  dark:text-white bg-nice">
    <hr class="h-px mt-6 border-gray-300 border-none dark:bg-gray-700">
    <div class="container py-6">
        <h1 class="text-lg font-bold text-center lg:text-2xl ">
            Join our <a href="/forums/" class="text-fancy mx-0 px-0 nav-link underline">Forum</a> and have a great time!
            <br>
            with all our fans!
        </h1>

        <hr class="hr-stylish">

        <div class="flex flex-col items-center justify-between mt-6 px-4 mx-4 md:flex-row">
            <div class="w-full overflow-hidden lg:w-1/2">
                <h1 class="" style="font-size: xx-large;">Games With Love</h1>
                <p></p>
            </div>

            <div class="w-full overflow-hidden lg:w-1/2">
                <ul>
                    <li>
                    <a href="/"
                        class="px-4 text-sm font-medium text-gray-300 dark:text-gray-200 hover:text-white dark:hover:text-gray-400 hover:underline">Home</a>
                    </li>
                    <li>
                    <a href="/blog/"
                        class="px-4 text-sm font-medium text-gray-300 dark:text-gray-200 hover:text-white dark:hover:text-gray-400 hover:underline">Blog</a>
                    </li>
                    <li>
                    <a href="/forums/"
                        class="px-4 text-sm font-medium text-gray-300 dark:text-gray-200 hover:text-white dark:hover:text-gray-400 hover:underline">Forum</a>
                    </li>
                    <li>
                </ul>
            </div>
          
            <div class="w-full overflow-hidden lg:w-1/2">
                <img src="https://64.media.tumblr.com/d399df8f60eceeaad289f75804ff8e5a/tumblr_o5bue5GcrB1tgzy56o2_250.gif" class="footerImage">
            </div>


        </div>
  </footer>