{% extends 'base.html' %}
{% load static %}


{% block title %}
Log In
{% endblock title %}



{% block content %}

<div class="heading-type-1">
  <br>
  Reset Password
</div>

<hr class="hr-stylish-subdivider">

<div class="lcont text-gray-100 text-center">
  <div id="#loginContaienr" class="container necont">
    <br>
    <form method="POST" class="form-signin">{% csrf_token %}
      <h1 class="h3 mb-3 font-weight-normal">Enter your email address!</h1>
      <p class="form-field">
        <input name="email" class="form-control" placeholder="Email address" type="email" id="id_email" required="true">
      </p>
      <button class="btn btn-lg btn-primary btn-block button-fancy underline" type="submit">Send reset email</button>  
    </form>
    
          <br>
          <p>Don't have an account? <a href="/register/" class="text-fancy underline" style="padding:0;margin:0;" target="blank"><strong>register Now!</strong></a></p>
          <br>
    </div>
</div>
<br>
<hr class="hr-stylish">


</div>


{% endblock content %}

{% block extra_css %}



{% endblock extra_css %}

{% block scripts %}

{% endblock scripts %}